
.bg-image {
    background-image: url("/public/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-image-list {
    background-image: url("/public/Background.jpg");
    position: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.MuiTextField-root{
    background-color: white;
}
.MuiCheckBox-root{
    color: white;
}
